
.full-data-summary {
    font-family: "Droid Sans Mono", monospace;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.9);
    border-radius: 5px;
    padding: .5em;
    display: flex;
}
